<form action="https://checkout.wompi.co/p/" method="GET">
  <!-- OBLIGATORIOS -->
  <input type="hidden" name="public-key" value="pub_test_XoT8TA41lZdIxMoT01XJUTD9MGzj7rWD" />
  <input type="hidden" name="currency" value="COP" />
  <input type="hidden" name="amount-in-cents" value="30000000" />
  <input type="hidden" name="reference" value="123457" />
  <!-- OPCIONALES -->
  <input type="hidden" name="signature:integrity" value="b3e12e17dfc1a4b755ae6324ced945a881b578510eea44d647ba527a61139e9b"/>
  <input type="hidden" name="redirect-url" value="http://localhost:3000/succesPurchase" />
  <input type="hidden" name="tax-in-cents:vat" value="15000000" />
  <input type="hidden" name="tax-in-cents:consumption" value="1000000" />
  <input type="hidden" name="customer-data:email" value="test@test.com" />
  <input type="hidden" name="customer-data:full-name" value="Homero Simpson" />
  <input type="hidden" name="customer-data:phone-number" value="4152121" />
  <input type="hidden" name="customer-data:legal-id" value="123444555" />
  <input type="hidden" name="customer-data:legal-id-type" value="CC" />
  <input type="hidden" name="shipping-address:address-line-1" value="Salitre Plaza" />
  <input type="hidden" name="shipping-address:country" value="CO" />
  <input type="hidden" name="shipping-address:phone-number" value="4152121" />
  <input type="hidden" name="shipping-address:city" value="Bogota" />
  <input type="hidden" name="shipping-address:region" value="Cundinamarca" />
  <button type="submit">Pagar con Wompi</button>
</form>