.container-addres{
    display: none;
}

.container-addres-show{
    z-index: 1;
    position: absolute;
    width: 120em;
    height: 100em;
    background-color: #000000a1;
}

.container-addres-modal{
    top: 7%;
    left: 22%;
    background-color:white;
    height: 548px;
    width: 858px;
    border-radius: 28px;
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-addres-modal input{
    border-radius: 5px;
    background-color:var(--backGray);
    height: 30px;
    border: transparent;
}
.form-addres{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 95%;
}
.form-addres label{
    margin-bottom: 2%;
}
.form-add-addres-input:not(label){
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}
.inputs-select-addres input{
    width: 21%;
}
.inputs-form-addres-general{
    width: 90%;
}
.inputs-form-addres-general-der{
    width: 90%;
    align-self: flex-end;
}
.title-add-addres{
    text-align: center;
    font-size: 1.8em;
}
.drop-down-form-addres{
    background-color: var(--backGray);
    margin-right: 5%;
    border-radius: 5px;
    border: transparent;
    height: 30px;
}
.button-modal-addres{
    width: 160px;
    height: 35px;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-family: var(--Roboto);
    font-weight: bold;
    border-color: black;
    background-color: white;
    margin-top: 20%;
}
.button-modal-addres:hover{
    background-color: black;
    color:white;
}
@media (max-width:1600px){
    .container-addres-show{
        width: 100em;
        height: 100em;
    }
}
@media (max-width:1400px){
    .container-addres-show{
        width: 87em;
        height: 100em;
    }
    .container-addres-modal{
        left: 18%;
    }
}
@media (max-width:1200px){
    .container-addres-show{
        width: 75em;
        height: 100em;
    }
    .container-addres-modal{
        left: 12%;
    }
}
@media (max-width:720px){
    .container-addres-show{
        width: 46em;
    }
    .container-addres-modal{
        top: 2%;
        left: 7%;
        width: 620px;
        height: 880px;
    }
    .form-addres{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 95%;
    }
    .form-add-addres-input:not(label){
        display:block;
        
    }
}
