.container-addres{
    display: none;
}

.container-addres-show{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000a1;
}

.container-addres-modal{
    top: 50%;
    left: 50%;
    background-color:white;
    height: 58vh;
    width: 50vw;
    border-radius: 28px;
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
}

.container-addres-modal input{
    border-radius: 5px;
    background-color:var(--backGray);
    height: 37px;
    border: transparent;
}
.form-addres{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.form-addres label{
    margin-bottom: 2%;
}
.form-add-addres-input:not(label){
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}
.inputs-select-addres input{
    width: 21%;
}
.inputs-select-addres{
    padding-left: 10%;
}
.inputs-form-addres-general{
    width: 90%;
}
.inputs-form-addres-general-der{
    width: 90%;
    align-self: flex-end;
}
.title-add-addres{
    text-align: center;
    font-size: 1.8em;
}
.drop-down-form-addres{
    background-color: var(--backGray);
    margin-right: 5%;
    border-radius: 5px;
    border: transparent;
    height: 37px;
}
.button-modal-addres{
    width: 160px;
    height: 35px;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-family: var(--Roboto);
    font-weight: bold;
    border-color: black;
    background-color: white;
}
.button-modal-addres:hover{
    background-color: black;
    color:white;
}
.label-modal-right{
    padding-left: 12%;
}
.label-modal-left{
    padding-left: 2%;
}
.container-terminos-modal{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.img-close-modal-addres{
    position: absolute;
    left: 96%;
    bottom: 66%;
    width: 5%;
}
@media (max-width:1280px){
    
    .img-close-modal-addres{
        left: 91%;
        bottom: 48%;
        width: 25px;
    }  
}
@media (max-width:1024px){
    .container-addres-modal{
        height: 80vh;
        width: 87vw;
    }
    .form-addres{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 95%;
    }
    .form-add-addres-input:not(label){
        display:block;
        
    }
    .form-addres{
        text-align-last: center;
    }
    .input-select-tel{
        place-content: center;
    }
    .container-input-city{
        text-align:center;
    }
    .inputs-select-addres{
        padding-left: 0%;
    }
    .label-modal-right{
        padding-left: 10%;
        display: flex;
    }
    .label-modal-left{
        padding-left: 10%;
        display: flex;
    }
    .inputs-select-addres{
        padding-left: 0%;
    }
    .container-terminos-modal{
        width: 86%;
    }
}

@media (max-width:540px){

}

@media (max-width:375px){
    .title-add-addres{
        font-size: 1.4em;
    }
    
}
@media (max-width:320px){
}
