.carousel{
    display: flex;
    position: relative;
    height: 506px;
}

.carousel__leftButton, .carousel__rigthButton{
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__leftButton img, .carousel__rigthButton img{
    width: 12%;
}

.carousel__leftButton{
    left: 0;
}

.carousel__rigthButton{
    right: 0;
}

.carousel__img {
    width: 100%;
    object-fit: cover;
}
.carousel__img-with-text{
    width: 100%;
    height: 100%;
}
.container-content-carousel{
    display: 'flex';
    
}
.container-content-carousel h1{
    font-size: 48px;
}
.container-content-carousel p{
    font-size: 26px;
}

.container-text-carousel{
    position:absolute;
    display:flex;
    flex-direction:column;
    width:37%;
    margin-left:25%;
    margin-top:6%; 
    margin-right: 5%;
}

.carousel__slideInd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 6%
}

.carousel--slide{
	opacity: 0;
	transition: opacity 0.5s;
}
.carousel--show{
	opacity: 1;
	transition: opacity 0.5s;
}

.carousel__indicator, .carousel__indicator--selected{
    margin: 5px;
    background-color:var(--beige);
    border-radius: 50%;
    border: 1px solid var(--beige);
    height: 28px;
    width: 28px; 
}

.carousel__indicator--selected{
    background-color: black;
}

@media (max-width: 720px) {
    .carousel{
        height: 243px;
    }
    .carousel__indicator, .carousel__indicator--selected{
        height: 14px;
        width: 14px; 
    }
    .container-text-carousel{
        width:61%;
        margin-left:22%;
    }
    .container-text-carousel h1{
        font-size: 24px;
    }
    .container-text-carousel p{
        font-size: 13px;
    }
}