.carousel{
    display: flex;
    justify-content: center;
    position: relative;
    height: 506px;
}

.carousel__cont{
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__item{
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel__item{
    visibility: hidden;
    opacity: 0;
    transition: all 2s;
}
.selectedBanner{
    visibility: visible;
    opacity: 1;
    transition: all 2s;
}
.carousel__info{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 760px;
    width: 70%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #ffffff40;
    padding: 2%;
    transform: translate(-50%, -50%);
}
.carousel__info h1{
    margin: 0;
    font-size: 48px;
    color: #000000;
}
.carousel__info p{
    font-size: 26px;
    color: #000000;
    font-family: var(--Montserrat);
}

.carousel__controls{
    position: absolute;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel__leftButton, 
.carousel__rigthButton{
    width: 15%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__leftButton img, 
.carousel__rigthButton img{
    width: 12%;
    cursor: pointer;
}

.carousel__leftButton img:hover{
    transition: 0.3s;
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}
.carousel__rigthButton img:hover{
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
    transition: 0.3s;
}

.carousel__bannerInd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 6%
}


.carousel__indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid var(--beige);
    height: 20px;
    width: 20px; 
    cursor: pointer;
}
.carousel__indicatorFilling{
    width: 0%;
    height: 0%;
    border-radius: 50%;
    transition: all 1s;
    background-color: var(--beige);
}
.indicatorFilled{
    width: 80%;
    height: 80%;
    transition: all 1s;
}

@media (max-width: 1366px) {
    .carousel{
        height: 354px;
    }
    .carousel__indicator, .carousel__indicator--selected{
        height: 14px;
        width: 14px; 
    }
}

@media (max-width: 1300px) {
    .carousel__info p{
        font-size: 21px;
    }
}
@media (max-width: 768px){
    .carousel__info p{
        font-size: 21px;
    }
}
@media (max-width: 720px) {
    .carousel{
        height: 243px;
    }
    .carousel__indicator, .carousel__indicator--selected{
        height: 12px;
        width: 12px; 
    }
    .carousel__info h1{
        font-size: 24px;
    }
    .carousel__info p{
        font-size: 13px;
    }
}