.carousel{
    display: flex;
    justify-content: center;
    position: relative;
    height: 506px;
}

.carousel__cont{
    position: absolute;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel__leftButton, 
.carousel__rigthButton{
    width: 20%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__leftButton img, 
.carousel__rigthButton img{
    width: 20%;
    cursor: pointer;
}

.carousel__leftButton{
    left: 0;
}

.carousel__rigthButton{
    right: 0;
}

.carousel__leftButton img:hover{
    transition: 0.3s;
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}
.carousel__rigthButton img:hover{
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
    transition: 0.3s;
}
.carousel__img{
    width: 100%;
}

.carousel__img-with-text{
    width: 100%;
    height: 100%;
}
.container-content-carousel{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff40;
    padding: 2%;
}
.container-content-carousel h1{
    font-size: 48px;
    color: #000000;
}
.container-content-carousel p{
    font-size: 26px;
    color: #000000;
    font-family: var(--Montserrat);
}

.container-text-carousel{
    position:absolute;
    display:flex;
    flex-direction:column;
    width:37%;
    margin-left:25%;
    margin-top:6%; 
    margin-right: 5%;
}

.carousel__slideInd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 6%
}

.carousel--slide{
	opacity: 0;
	transition: opacity 0.5s;
}
.carousel--show{
	opacity: 1;
	transition: opacity 0.5s;
}

.carousel__indicator, .carousel__indicator--selected{
    margin: 5px;
    background-color:var(--beige);
    border-radius: 50%;
    border: 1px solid var(--beige);
    height: 28px;
    width: 28px; 
}

.carousel__indicator--selected{
    background-color: black;
}
@media (max-width: 1366px) {
    .carousel{
        height: 354px;
    }
    .carousel__indicator, .carousel__indicator--selected{
        height: 16px;
        width: 16px; 
    }
}

@media (max-width: 1300px) {
    .container-text-carousel{
        width: 58%;
    }
    .container-content-carousel p{
        font-size: 21px;
    }
}
@media (max-width: 768px){
    .container-text-carousel{
        width: 58%;
    }
    .container-content-carousel p{
        font-size: 21px;
    }
}
@media (max-width: 720px) {
    .carousel{
        height: 243px;
    }
    .carousel__indicator, .carousel__indicator--selected{
        height: 14px;
        width: 14px; 
    }
    .container-text-carousel{
        width:61%;
        margin-left:22%;
    }
    .container-text-carousel h1{
        font-size: 24px;
    }
    .container-text-carousel p{
        font-size: 13px;
    }
}