.carouselDownMarket__carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.carouselDownMarket__content{
    display: grid;
    grid-auto-flow: column;
    width: 80%;
    height: 13.3rem;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 3%;
    margin: 0 2%;
    scroll-behavior: smooth;
}

.carouselDownMarket__content--selected {
    border-style: solid;
    border-color: #fff4dc;
    border-width: 2px;
    transform: scale(1.2);
}

.carouselDownMarket__content img {
    width: 10vw;
    height: 90px;
    object-fit: cover;
}

.carouselDownMarket__content img:hover{
    cursor: pointer;
}

.carouselDownMarket__direction{
    width: 20px!important;
    height: 35px!important;
    transition: transform .2s;
}

.carouselDownMarket__direction:hover{
cursor: pointer;
transform: scale(1.2);
}

@media (max-width: 1366px) {
    .carouselDownMarket__content img {
        width: 15vw
    }
}
@media (max-width: 720px) {
    .carouselDownMarket__content{
        width: 80%;
    }
    .carouselDownMarket__content img {
        width: 25vw;
    }
}