.infoPro p{
    width: 55%;
    font-size: 2.1rem;
    margin: 0 auto 3%;
}
@media (max-width: 720px) {
    .infoPro p{
        width: 80%;
        font-size: 1.6rem;
        margin-bottom: 10%;
    }
    
}