.materials__cont{
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 6rem;
}

.material-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-card__img, .material-card__img--main{
    position: relative;
    width: 90%;
    margin-bottom: 2%;
    border: solid 1.5rem #D1D2D7A6;
    transition: .2s;
}

.material-card__img--main span{
    position: absolute;
    left:27%;
    top:33%;
    font-size: 6.3rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    z-index: 2;
    display: none;
}

.material-card__img--main img:hover{
    opacity: .7;
    cursor: pointer;
}

.material-card__img--main:hover > span{
    display: block;
    cursor: pointer;
}

.material-card__img--main span:hover ~ img{
    opacity: .7;
    cursor: pointer;
}

.material-card__img img, .material-card__img--main img{
    width: 100%;
}

.material-card__img:hover{
    transform: scale(1.1);
}

.material-card__info {
    width: 90%;
    font-size: 2.1rem;
    margin-top: 2rem;
}

.material-card__info span:first-child{
    font-weight: bold;
    text-transform: uppercase;
}


    
@media (max-width: 1200px) {
    .materials__cont{
        width: 72rem;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
    }
    .material-card__img {
        width: 54rem;
    }
}

@media (max-width: 720px) {
    .materials__cont{
        width: 90%;
    }
    .material-card__info{
        font-size: 1.6rem;
    }
    .material-card__img {
        width: 90%;
    }
} 
