.paymentInformation__cont{
    box-sizing: border-box;
    background-color: #d1d2d7;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 6px #00000033;
}

.paymentInformation__tabs{
    height: 3.2rem;
    background-color: #b7b7b7;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
}


.paymentInformation__tabs div{
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: var(--Roboto);
    border-style: solid;
    border-color: #d1d2d7;
    border-width: .1rem;
    color: #7b7b7b;
}

.paymentInformation__tabs div:hover{
    background-color: #7b7b7b;
    color: white;
    cursor: pointer;
}

.paymentInformation__tabs--selected{
    background-color: #7b7b7b;
    color: white!important;
}

.paymentInformation__acount{
    width:90%;
    margin: 0 auto;
}

.paymentInformation__acount form{
    padding: 7%;
    display:flex;
    flex-direction: column;
}

.paymentInformation__acount legend{
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    margin: 5% auto;
}

.paymentInformation__acount label{
    font-size: 1.7rem;
    margin-left: 3%;
}

.paymentInformation__acount input:not([type="checkbox"]){
    width:100%;
    height: 4.1rem;
    margin: 2% 0 4%;
    padding: 0 4%;
    border-radius: .5rem;
    font-size: 1.7rem;
    border-style: none;
}

.paymentInformation__acount button{
    width: 50%;
    height: 3.5rem;
    margin: 3rem;
    background-color: black;
    color:white;
    border-radius: .5rem;
    font-size: 1.6rem;
    align-self: center;
    border-style: none;
    text-transform: uppercase;
}

.paymentInformation__acount button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.paymentInformation__acount select{
    background-color: white;
    width:100%;
    height: 4.1rem;
    margin: 2% 0 4%;
    border-radius: .5rem;
    font-size: 1.7rem;
    border-style: none;
}

.tel select{
    width: 21% !important;
    margin-right: 5%;
}

.tel input{
    width: 74% !important;
}

// .address{
//     display: flex;
//     justify-content: space-between;
// }

// .address select{
//     width: 25% !important;
//     margin-right: 5%;
// }

// .address span{
//     align-self: center;
// }

// .address input{
//     margin: 2% 0 0;
//     width: 30% !important;
// }

// .address2{
//     display: flex;
//     justify-content: space-evenly;
// }

// .address2 select{
//     width: 30% !important;
// }

// .address2 input{
//     margin: 0 0 4%;
//     width: 50% !important;
// }

.terms{
    display: flex;
    width: 50%;
    margin: auto 0;
    font-size: 1.7rem;
    margin-top: 1rem;
    align-items: center;
    align-self: center;
}

.paymentInformation__acount input[type="checkbox"]{
    margin-right: 1rem;
}

.links{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

.links a{
    color: #000000;
}

.links a:hover{
    cursor: pointer;
    color: #5a5a5a;
    text-decoration: none;
}

.links a:nth-child(1){
    font-weight: bold;
    margin-right: 2rem;
}

.links a:nth-child(2){
    text-align: end;
}

.paymentInformation__welcome{
    padding: 7%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paymentInformation__welcome div{
    margin: 3rem;
    display: grid;
    text-align: center;
}

.paymentInformation__welcome span {
    font-size: 2.1rem;
}

.paymentInformation__welcome span:nth-child(1) {
    font-weight: bold;
    font-size: 2.6rem;
}

.paymentInformation__check{
    padding: 7%;
    display:flex;
    flex-direction: column;
}

.paymentInformation__check span{
    font-size: 2.1rem;
}

.paymentInformation__check h3{
    font-size: 2.1rem;
    font-weight: bold;
}

.paymentInformation__check div{
    display: flex;
    justify-content: space-between;
}

.paymentInformation__market{
    padding: 7% 7% 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.paymentInformation__market div{
    margin-bottom: 5%;
}

.paymentInformation__market h3{
    margin: 0;
}
.paymentInformation__market hr{
    width: 100%;
    margin: 5% auto;
    background-color: black;
    height: 1px;
}

.paymentInformation__market div span{
    color: #7B7B7B;
}

.paymentInformation__total{
    background-color: #b7b7b7;
    padding: 7%;
    font-weight: bold;
    margin-bottom: 10%;
}

.paymentInformation__code{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paymentInformation__code button{
    margin: 0!important;
}

.paymentInformation__check label{
    font-weight: bold;
    width: 60%!important;
}

.paymentInformation__check input{
    width: 60%!important;
}

.paymentInformation__check button{
    margin: 20%
}

.paymentInformation__payment{
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paymentInformation__payment legend{
    margin-bottom: 10%;
}

.paymentInformation__payment button{
    width:30%;
    margin: 2%;
    text-transform: none;
}

.paymentInformation__logo{
    background-color: #7B7B7B;
    margin-top: 15%;
    // display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .paymentInformation__acount{
        width: 100%;
    }
    .paymentInformation__welcome button{
        width: 70%!important;
    }
}

@media (max-width: 768px) {
    .paymentInformation__cont legend,
    .paymentInformation__cont span,
    .paymentInformation__cont h3,
    .paymentInformation__cont button{
        font-size: 1.8rem;
    }
    .paymentInformation__payment button{
        width: 50%;
    }
}
@media (max-width: 400px) {
    .paymentInformation__welcome button{
        width: 80%!important;
    }
}
