.checkIn {
  background-color: #d1d2d7;
  box-sizing: border-box;
}
.checkIn__form {
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkIn__form div {
  width: 36%;
}

.checkIn__form label {
  margin-left: 3%;
  font-size: 1.6rem;
}

.checkIn__form input:not([type="checkbox"]) {
  width: 100%;
  height: 5.3rem;
  margin: 2% 0 4%;
  padding: 0 3%;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  border-style: none;
}

.checkIn__form button {
  width: 50%;
  height: 6rem;
  margin-bottom: 8rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: 2.6rem;
  align-self: center;
  border-style: none;
  text-transform: uppercase;
  width: 27rem;
  font-weight: bold;
}

.checkIn__form button:hover {
  background-color: white;
  color: black;
}

.checkIn__form-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
  font-size: 2.1rem;
  color: #7b7b7b;
  margin: 5% 0;
}

.checkIn__form-terms a {
  color: #41817e;
}
.checkIn__form-terms a:hover {
  color: #41817e;
}

.checkIn__form-terms input[type="checkbox"] {
  margin-right: 5%;
  width: 25px;
  height: 25px;
}

.checkIn__signIn {
  font-size: 2.1rem;
  color: #000000;
  font-weight: bold;
  margin: 0 0 5rem;
  text-decoration: none;
}

.checkIn__signIn:hover {
  color: #5a5a5a;
}

@media (max-width: 1200px) {
  .checkIn__form {
    width: 72rem;
  }
  .checkIn__form div {
    width: 50%;
  }
}

@media (max-width: 720px) {
  .checkIn__form {
    width: 100%;
  }
  .checkIn__form div {
    width: 75%;
  }
  .checkIn__form input:not([type="checkbox"]) {
    height: 3.2rem;
    font-size: 1.6rem;
  }

  .checkIn__form label,
  .checkIn__form input,
  .checkIn__form span,
  .checkIn__form button,
  .checkIn__signIn{
    font-size: 1.6rem;
  }
  .checkIn__form-terms {
    margin: 3rem 0;
  }
  .checkIn__form button {
    height: 4rem;
  }
}
