.sectionShoppingCart{
    box-sizing: border-box;
    width: 100%;
}

.shoppingCard__cont{
    max-width: 120rem;
    margin: 0 auto 7%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}

.shoppingCard__item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.shoppingCard__product{
    display: grid;
    justify-items: center;
}

.shoppingCard__img{
    width: 20rem;
}

.shoppingCard__img img{
    width: 100%;
}

.shoppingCard__options{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    
}

.shoppingCard__options div{
    width: 12%;
}

.shoppingCard__options img{
    width: 100%;
}

.shoppingCard__infoAndPrice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3%;
}

.shoppingCard__info h3{
    font-size: 2.1rem;
}

.shoppingCard__info h4{
    display: inline;
    font-size: 1.7rem;
    font-weight: bold;
}

.shoppingCard__info span{
    font-size: 1.7rem;
}

.shoppingCard__price{
    display: flex;
    align-items: center;
}

.shoppingCard__price select{
    margin-right: 5%;
    width: 21%;
    text-align-last: center;
    font-size: 2.6rem;
    background-color: #d1d2d7;
}

.shoppingCard__price h3{
    font-size: 2.6rem;
}

hr {
    height: 10px;
    width: 100%;
    background-color: #ADADAD;
    grid-column: 1 / 3;
}

@media (max-width: 1200px) {
    .shoppingCard__cont{
        width: 60%;
        grid-template-columns: repeat(1,1fr);
    }
    .payment{
        grid-row: 1 / 3;
    }
    .shoppingCard__item{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
        margin-bottom: 15%;
    }
    .shoppingCard__img{
        width: 60%;
    }
    .shoppingCard__info{
        margin-bottom: 5%;
    }
    hr{
        grid-column: 1;
    }
    .payment{
        margin-bottom: 10%;
    }
}

@media (max-width: 1024px) {
    .shoppingCard__cont{
        width: 80%;
    }
}

@media (max-width: 550px) {
    .shoppingCard__cont{
        width: 90%;
    }
}