.sectionInfo{
    background-color: #ECEDDB;
    box-sizing: border-box;
}

.sectionInfo__cont{
    width: 115rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.sectionInfo__img{
    max-width: 91%;
    margin: 10rem 0;
    border: solid 1.8rem white;
    object-fit: cover;
}

.sectionInfo__info{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    align-content: flex-start;
    margin: 0;
    height: 38.4rem;
    width: 80%;
}

.inverso{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin: 0 0 0 auto;
}

.sectionInfo__title{
    font-family: var(--Roboto);
    font-size: 3.5rem;
    font-weight: bold;
}

.sectionInfo__text{
    font-family: var(--Montserrat);
    font-size: 2.1rem;
    padding-right: 5%;
}

.sectionInfo__button{
    margin-top: 12%;
}

@media (max-width: 1200px) {
    .sectionInfo__cont{
        width: 71.5rem;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 2% 0 5%;
    }

    .sectionInfo__info{
        height: auto;
        margin: 0 5rem;
        display: flex;
        flex-direction: column;
    }
    
    .sectionInfo__img{
        margin-bottom: 0;
        margin-top: 5rem;
        max-width: 50%;
        height: auto;
    }

    .sectionInfo__text{
        padding-right: 0;
    }


    .sectionInfo__button{
        margin-bottom: 5rem ;
    }
}

@media (max-width: 720px) {
    .sectionInfo__cont{
        width: 100%;
        padding: 0 0 0;
    }
    .sectionInfo__text{
        font-size: 1.4rem;
    }

    .sectionInfo__title{
        font-size: 2.1rem;
    }
    .sectionInfo__img{
        max-width: 62%;
        border: solid 1rem white;
    }
}