.sectionRoom{
    background-color: #ECEDDB;
}

.sectionRoom__cont{
    width: 115rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.sectionRoom__img{
    width: 91%;
    margin: 10rem 0;
    border: solid 1.8rem white;
}

.sectionRoom__info{
    grid-column: 60% 1fr;
    display: grid;
    grid-template-columns: 2fr;
    align-content: flex-start;
    margin: 0;
    height: 38.4rem;
    width: 80%;
}

.inverso{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin: 0 0 0 auto;
}

.sectionRoom__title{
    font-family: var(--Roboto);
    font-size: 3.5rem;
    font-weight: bold;
}

.sectionRoom__text{
    font-family: var(--Montserrat);
    font-size: 2.1rem;
}

.sectionRoom__button{
    margin-top: 12%;
}

@media (max-width: 1200px) {
    .sectionRoom__cont{
        width: 71.5rem;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 2% 0 5%;
    }

    .sectionRoom__info{
        height: auto;
        margin: 0 5rem;
        display: flex;
        flex-direction: column;
    }
    
    .sectionRoom__img{
        margin-bottom: 0;
        margin-top: 5rem;
        width: 50%;
        height: auto;
    }

    .sectionRoom__button{
        margin-bottom: 5rem ;
    }
}

@media (max-width: 720px) {
    .sectionRoom__cont{
        width: 100%;
        padding: 0 0 0;
    }
    .sectionRoom__text{
        font-size: 1.4rem;
    }

    .sectionRoom__title{
        font-size: 2.1rem;
    }
}