.sectionCanvas{
    width: 120rem;
    margin: 0 auto ;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionCanvas h2 {
    margin: 3% 0;
    font-size: 3.5rem;
    font-family: var(--Roboto);
    font-weight: bold;
    text-transform: uppercase;
}

.sectionCanvas p{
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    font-size: 2.1rem;
    font-family: var(--Montserrat);
}

.sectionCanvas__first-intro, .sectionCanvas__second-intro,
.sectionCanvas__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionCanvas__materials{
    padding: 5% 0;
    width: 120rem;
    margin: 0 auto 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 6rem;
    column-gap: 3rem;
}

.sectionCanvas__first-intro img{
    width: 90%;
}

.sectionCanvas__second-intro{
    margin-top: 3%;
}

.sectionCanvas__second-intro img{
    width: 50%;
    transition: transform .2s ease-in-out,;
    margin: 2% 0;
    border: solid 1.5rem #D1D2D7;
}

.sectionCanvas__second-intro img:hover{
    transform: scale(1.1);
}

.sectionCanvas__subContent h2{
    margin-left: 1%;
    align-items: flex-start;
}

.sectionCanvas__subContent div{
    margin-bottom: 3%;
}

@media (max-width: 1200px) {
    .sectionCanvas{
        width: 72rem;
    }    
    .sectionCanvas__materials{
        width: 72rem;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 6rem;
        margin: 0 auto 10%;
    }
    .sectionCanvas__subContent h2{
        text-align: center;
    }
}
@media (max-width: 720px) {
    .sectionCanvas{
        width: 100%;
    }
    .sectionCanvas__materials{
        width: 90%;
        row-gap: 4rem;
    }
    .sectionCanvas h2 {
        font-size: 1.8rem;
    }
    .sectionCanvas p {
        font-size: 1.6rem;
        width: 80%;
        margin-bottom: 5%;
    }
    .sectionCanvas__second-intro img{
        width: 80%;
        border: solid .7rem #D1D2D7;
    }  
}