.sectionShoppingCart{
    box-sizing: border-box;
    width: 100%;
}

.shoppingCard__cont{
    max-width: 120rem;
    margin: 0 auto 7%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}

@media (max-width: 1200px) {
    .shoppingCard__cont{
        width: 60%;
        grid-template-columns: repeat(1,1fr);
    }
    .sectionShoppingCart__payment{
        grid-row: 1 / 3;
        margin-bottom: 10%;
    }
}

@media (max-width: 1024px) {
    .shoppingCard__cont{
        width: 80%;
    }
}

@media (max-width: 550px) {
    .shoppingCard__cont{
        width: 90%;
    }
}