.sectionAcrilicsAluminium{
    width: 120rem;
    margin: 0 auto ;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionAcrilicsAluminium p{
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: 2.1rem;
    font-family: var(--Montserrat);
}

.sectionAcrilicsAluminium__cont{
    padding: 5% 0;
    width: 120rem;
    margin: 0 auto 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 6rem;
    column-gap: 3rem;
}

@media (max-width: 1200px) {
    .sectionAcrilicsAluminium{
        width: 72rem;
    }    
    .sectionAcrilicsAluminium__cont{
        width: 72rem;
        row-gap: 6rem;
        margin: 0 auto 10%;
    }
}
@media (max-width: 720px) {
    .sectionAcrilicsAluminium{
        width: 100%;
    }
    .sectionAcrilicsAluminium p {
        font-size: 1.6rem;
        width: 80%;
    }
    .sectionAcrilicsAluminium__cont{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 4rem;
    }
}