.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__cont{
    width: 120rem;
    height: 13.8rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.title__cont--left{
    justify-content:flex-start;
    padding-left:6%;
}

// .title__cont--left h1 {
//     margin-left: 5%;
// }

.title__cont img{
    position: absolute;
    left: 0;
    height: 30%;
    transition: transform .2s;
}

.title__cont img:hover{
    cursor: pointer;
    transform : scale(1.5)
}

.title__cont h1{
    font-size: 4.8rem;
    font-weight: 900;
}

@media (max-width: 1366px) {
    .title__cont{
        height: 9.6rem;
    }
    .title__cont h1{
        font-size: 3.4rem;
    }
}

@media (max-width: 1200px) {
    .title__cont{
        height: 8.8rem;
        width: 100%;
    }
    .title__cont img{
        left: 10%;
    }
    .title__cont--left h1 {
        margin-left: 7%;
    }
}
@media (max-width: 920px) {
    .title__cont h1{
        font-size: 2.6rem;
    }
}
@media (max-width: 720px) {
    .title__cont{
        width: 100%;
        height:8rem;
    }
}