.container-upload{
    background-color: white;
    width: 927px;
    height: 435px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 24px;
   
}
.container-buttom{
    height: 90px;
    background-color: var(--backGray);
}