.userAcount__info{
    box-sizing: border-box;
    background-color: #d6e1e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15.4rem;
    font-size: 2.6rem;
    color: #7b7b7b;
}

.userAcount__info img {
    width: 90px;
    border-radius: 50%;
    border: 2px solid #7b7b7b;
}

.userAcount__menu{
    width: 120rem;
    height: 17rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userAcount__menu div{
    width: 10.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    font-size: 1.6rem;
    color: #7b7b7b
}
.userAcount__menu div:hover{
    cursor: pointer;
}

.userAcount__menu div:nth-child(3){
    margin-right: 0;
}

.userAcount__menu img{
    width: 90%;
    margin-bottom: 3%;
}

.userAcount__cont{
    background-color: #d1d2d7;
    padding: 3% 0;
    padding-bottom: 5%;
}

.userAcount__purshase hr{
    width: 60%;
    height: .2rem;
    margin: 3% auto;
}
@media (max-width: 1366px){
    .userAcount__menu img{
        width: 70%;
    }
    .userAcount__menu{
        height: 11.9rem;
    }
}

@media (max-width: 1200px) {
    .userAcount__menu{
        width: 72rem;
    }
    .userAcount__info img {
        width: 8%;
    }
    .userAcount__menu span{
        font-size: 10px;
    }
    .userAcount__menu div{
        width: 9rem;
    }
    .userAcount__cont hr{
        width: 80%;
    }
}

@media (max-width: 720px) {
    .userAcount__info{
        height: 10rem;
        font-size: 16px;
    }
    .userAcount__info img {
        width: 5.7rem;
        height: 5.7rem;
    }
    .userAcount__menu{
        width: 100%;
    }
    .userAcount__menu{
        height: 10rem;
    }
    .userAcount__menu div{
        width: 6rem;
    }
}