<div class='checkIn'>
<%= react_component("Title", { title:"REGÍSTRATE"},)%>
    <form class='checkIn__form' action="">
        <div>
        <label>Tu Nombre</label>
            <input type="text" autocomplete="name"></input>
        </div>
        <div>
            <label>Tu Email</label>
            <input type="email" autocomplete="email"></input>
        </div>
        <div>
            <label>Celular 1</label>
            <input type="tel" autocomplete="tel-national"></input>
        </div>
        <div>
            <label>Celular 2</label>
            <input type="tel"></input>
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password" autocomplete="new-password"></input>
            </div>
        <div>
            <label>Confirmar Contraseña</label>
            <input type="password" autocomplete="new-password"></input>
        </div>
        <div class="checkIn__form-terms">
        <input type="checkbox"></input>
            <span>
                He leído y acepto los <a href="#">Términos y condiciones</a>
            </span>
        </div>
        <a class="checkIn__signIn" href="/signIn">
        Ya tengo cuenta con Artree</a>
        <button type="button">Registrarse</button>
    </form>
</div>