<div class='signIn'>
    <%= react_component("Title", { title: "INICIAR SESIÓN" },)%>
    <form class='signIn__form' action="">
        <div>
            <label>Tu Email</label>
            <input type="email"></input>
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password"></input>
        </div>
        <button type="button">Iniciar Sesión</button>
        <div class="signIn__links">
            <a href="/register">Registrarse</a>
            <a href="#">Recordar Contraseña</a>
        </div>
    </form>
</div>